/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
/**{
  box-sizing: border-box;
}

******************************************/
/* LAYOUT
/******************************************
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body{
	font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}
.picture-container{
	display: flex;
	width: 1200px;
	height: 600px;
	display:block;
	justify-content: center;
	align-items: center;
	margin: 40px;
	background-color: white;
	color: black;
	cursor: hover;
	box-shadow: 1px 1px 3px #292929;
}
img{
	width:800px;
	height: 600px;
	float: left;
	padding-left: 0;
}

.header{
	margin: 40px;
	align-items: center; 
	justify-content: center;
}
.text-description{
	padding-right: 30px;
	padding: 10px;
	float: right;
	width: 350px;
	height: 600px;
  	font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.image-video-container{
	float: left;
	width: 500px;

}

